body {
  background-color: rgb(233, 231, 255);
}

.body {
  margin-left: 2%;
  margin-right: 2%;
}
.h2 {
  font-weight: bold;
  text-align: center;
}

.h3 {
  text-align: center;
}

.h4 {
  font-weight: bold;
  margin-left: 2%;
  margin-right: 2%;
}

.demo-list-item {
  margin-left: 4%;
  margin-right: 2%;
}

.referencetitle {
  text-align: center;
}

.references {
  margin-left: 2%;
  margin-right: 2%;
}

.title {
  margin-left: -2%;
}